.main {
    height: 100%;
    width: 35%;
    margin-right: auto;
    margin-left: auto;
}

.container {
    height: 100%;
    width: 100%;
    background: #2e5480;
    margin: 20px auto;
    border-top: 2px solid #2e5480;
}

.form {
    height: 95%;
    width: 92%;
    background: white;
    margin: 10px auto;
    font-family: 'Roboto', sans-serif;
    border-top: 5px solid #a6dc0a;
    border-bottom: 5px solid #2e5480;
    padding-top: 5px;
}

.form-contents {
    width: 85%;
    margin: 0 auto;
}

input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #7b8b96;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #7b8b96;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: #7b8b96;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: #7b8b96;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    border: 1px solid #d6d7d9;
    border-radius: 3px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-right: 6px;
}

.contacts-input {
    padding-top: 7px;
    padding-left: 10px;
    border: none;
    height: 35px;
    width: 100%;
    margin-right: 5px;
}

.plus {
    color: #a6dc0a;
}

.subject-input {
    border: 1px solid #d6d7d9;
    background-color: #ededf3;
    border-radius: 3px;
    width: 98%;
    height: 43px;
    padding-top: 1px;
    padding-left: 10px;
}

.wrap {
    border-radius: 3px;
    border: 1px solid #d6d7d9;
    width: 100%;
}

.items {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 8px;
    color: #b1b1b1;
    margin: 0;
    border-bottom: 1px solid #d6d7d9 !important;
}

.fa-sm {
    margin-right: 14px;
}

.msg-input {
    padding: 0;
    margin: 0;
    height: 120px;
    width: 100%;
    border: none;
    background-color: #ededf3;
}

.headings {
    margin-bottom: 15px;
    color: #175692;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.discard,
.message {
    height: 40px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.fa-times {
    color: white;
    padding: 13px 15px 23px 15px;
    background: #b0c0cf;
}

.discard {
    background: #d1dce8;
    color: white;
    display: flex;
}

.discard-btn {
    padding: 11px 10px 18px 10px;
    background: #d1dce8;
    font-size: 16px;
}

.fa-envelope {
    color: white;
    padding: 14px 13px 16px 13px;
    background: #36a2e1;
}

.message {
    background: #4db9ea;
    color: white;
    display: flex;
}

.msg-btn {
    padding: 12px 11px 19px 11px;
    background: #4db9ea;
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    .main {
        width: 100%;
    }
    .buttons {
        justify-content: center;
    }
    .discard-btn {
        padding: 11px 10px 18px 17%;
    }
    .discard,
    .message {
        width: 58%;
        justify-content: flex-start;
    }
    .fa-times {
        padding: 14px 17px 15px 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .main {
        width: 85%;
    }
    .buttons {
        display: flex;
        flex-wrap: wrap;
    }
    .fa-sm {
        margin-right: 21px;
    }
    .msg-input {
        height: 160px;
    }
    .items {
        padding: 12px;
    }
}